absl-py==2.1.0
async-timeout==4.0.3
blinker==1.8.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
h5py==3.11.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
tflite-runtime
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
numpy
optree==0.12.1
packaging==24.1
pandas==2.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.7
requests==2.32.3
rich==13.7.1
six==1.16.0
spotipy==2.24.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
