<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SongTreasure</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/dropdowns.css">
    <link rel="stylesheet" type="text/css" href="static/css/songs.css">
    <link rel="stylesheet" type="text/css" href="static/css/loading.css">
    <link rel="stylesheet" type="text/css" href="static/css/mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('favicon') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.6/lottie.min.js"></script>

</head>
<body>
<div id="login-area">
    {% if isLoggedIn %}
        <div id="user-profile">
            <a href="https://open.spotify.com/" target="_blank">
                <img id="imgProfile" src="{{ profile_pic_url or url_for('static', filename='default-profile.png') }}"
                     alt="Profile Picture">
            </a>
        </div>
        <a href="/logout">
            <button id="loginbtn">◄ Logout</button>
        </a>
    {% else %}
        <a href="/login">
            <button id="loginbtn">Login ►</button>
        </a>
    {% endif %}
</div>

<a href="https://github.com/simonroedig/SongTreasure" target="_blank">
    <img id="idLogo" src="{{ url_for('static', filename='favicon.png') }}" alt="SongTreasure Logo">
</a>

<br>
<hr id="hr1">
<br>

<h id="idTitle">SongTreasure</h>
<p id="idDescr">Uncover Hidden Gems on Spotify by Genre with SongTreasure.<br>Discover Promising Tracks You Haven’t
    Heard Yet.</p>


<div id="idTrackResultColumn">


    <div id="idColumnTrackInfo0" class="trackColumns">
        <img class="columnIcons" id="idNumberIcon"src="{{ url_for('static', filename='number.png') }}" alt="Number Icon">
    </div>

    <div id="idColumnTrackInfo1" class="trackColumns">
        <img class="columnIcons" id="idTitleIcon"src="{{ url_for('static', filename='title.png') }}" alt="Title Icon">
    </div>

    <div id="idColumnTrackInfo2" class="trackColumns">
        <img class="columnIcons" id="idTreasureIcon" src="{{ url_for('static', filename='icon.png') }}" alt="Treasure Icon">
    </div>

    <div id="idColumnTrackInfo3" class="trackColumns">
        <img class="columnIcons" id="idDateIcon"src="{{ url_for('static', filename='date.png') }}" alt="Date Icon">
    </div>

    <div id="idColumnTrackInfo4" class="trackColumns">
        <img class="columnIcons" id="idTimeIcon"src="{{ url_for('static', filename='time.png') }}" alt="Time Icon">
    </div>

    {% if isLoggedIn %}
        <div id="idColumnTrackInfo5" class="trackColumns">
            <img class="columnIcons" id="idAddIcon"src="{{ url_for('static', filename='add.png') }}" alt="Add Icon">
        </div>
    {% else %}

    {% endif %}


</div>

<hr id="hr3">

<div id="idTrackResults">
    {% for track in tracks %}
        <div class="track" data-index="{{ loop.index0 }}">
            <div class="progress-container">
                <div class="progress-circle" id="progress-{{ loop.index0 }}">
                    <div class="track-number">{{ loop.index }}</div>
                    <button class="play-pause" data-index="{{ loop.index0 }}">▶</button>
                </div>
            </div>
            <img id="albumCover" src="{{ track.album_cover }}" alt="Album Cover">
            <audio id="audio-{{ loop.index0 }}" src="{{ track.preview_url }}"></audio>
            <div class="TrackInfo1">
                <div class="title">{{ track.title }}</div>
                <div class="artist">by {{ track.artist }}</div>
            </div>
            <div class="TrackInfo2">
                <div class="predictedPopularity">{{ track.popularity }}</div>
            </div>
            <div class="TrackInfo3">
                <div class="releaseDate">{{ track.release_date }}</div>
            </div>
            <div class="TrackInfo4">
                <div class="length">{{ track.length }}</div>
            </div>

            {% if isLoggedIn %}
                <div class="TrackInfo5">
                    <div class="dropdown">
                        <button class="dropbtn" id="dropbtnPlaylist"><img class="playlistTrackIcon" src="{{ url_for('static', filename='add2.png') }}" alt="Add Icon"></button>
                        <div class="dropdown-content" id="songsOptions">
                            <a class="selectItem">Select:</a>
                            {% if user_playlists %}
                                {% for item in user_playlists %}
                                    <a href="#" id"tracker" onclick="addToPlaylist('{{ item['id'] }}', '{{ track.id }}', "tracker")">{{ item['name'] }}</a>
                                {% endfor %}
                            {% else %}
                                <a href="#">No playlist found</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}

            {% endif %}

        </div>
    {% endfor %}
</div>

<!--<img id="idLoadingGif" src="/static/loading_animation.gif">-->
<div class="loader" id="idLoadingGif"></div>

<!--
<lottie-player src="{{ url_for('static', filename='loading_anim.json') }}"
                 background="transparent"  
                 speed="1"  
                 style="width: 300px; height: 300px;"  
                 loop  
                 autoplay>
</lottie-player>
-->

<hr id="hr2">
<br>

<div id="idParameters">
    <div class="dropdown">
        <div class="dropdown-content" id="songsOptions">
            <a class="selectItem">Select:</a>
            <a>3</a>
            <a>5</a>
            <a>10</a>
            <a>20</a>
        </div>
        <button class="dropbtn" id="dropbtnSongs">Songs 🠉</button>
    </div>

    <div class="dropdown">
        <div class="dropdown-content" id="genreOptions">
            <a class="selectItem">Select:</a>
            <a>Rock</a>
            <a>Pop</a>
            <a>Indie</a>
            <a>Hip-Hop</a>
            <a>Jazz</a>
            <a>Classical</a>
            <a>Electronic</a>
            <a>Reggae</a>
            <a>Country</a>
            <a>Blues</a>
            <a>R&B</a>
            <a>Soul</a>
            <a>Folk</a>
            <a>Metal</a>
            <a>Punk</a>
            <a>Disco</a>
            <a>Funk</a>
            <a>Gospel</a>
            <a>Latin</a>
            <a>K-Pop</a>
            <a>Reggaeton</a>
            <a>Ska</a>
            <a>Alternative</a>
            <a>Ambient</a>
            <a>Techno</a>
            <a>House</a>
            <a>Trance</a>
            <a>Dubstep</a>
            <a>Grunge</a>
            <a>Bluegrass</a>
            <a>New Age</a>
            <a>Opera</a>
            <a>Soundtrack</a>
            <a>World Music</a>
            <a>Afrobeat</a>
            <a>Bossa Nova</a>
            <a>Celtic</a>
            <a>Chillout</a>
            <a>Dance</a>
            <a>EDM</a>
            <a>Electro</a>
            <a>Garage</a>
            <a>Hardcore</a>
            <a>Industrial</a>
            <a>J-Pop</a>
            <a>Lounge</a>
            <a>Post-Rock</a>
            <a>Shoegaze</a>
            <a>Synthpop</a>
        </div>
        <button class="dropbtn" id="dropbtnGenre">Genre 🠉</button>
    </div>

    
    
</div>

<div id="idFindWrapper">
    <button id="findbtn">► Find Songs 🔎</button>
</div>
<footer>
    <div id="idFooter">
        <p id="idFooterText">{{ current_year }} SongTreasure &nbsp;|&nbsp; By <a href="https://simonroedig.com"
                                                                                 target="_blank">Simon</a>, Tristan,
            Yannik, and Lukas &nbsp;|&nbsp;&nbsp; <a href="https://github.com/simonroedig/SongTreasure" target="_blank"><i
                    class="fa fa-github"></i></a></p>
    </div>
</footer>

<script>
    function addToPlaylist(playlistId, trackId, tracker) {
        console.log('Adding track to playlist:', playlistId, trackId, tracker);
        fetch('/add_to_playlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ playlist_id: playlistId, track_id: trackId }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                var currentElement = document.getElementById(tracker);
                if (currentElement) {
                    currentElement.innerText = "✔ " + currentElement.innerText;
                } else {
                    console.error(`Element with ID ${tracker} not found.`);
                }
                
            } else {
                if (data.error === 'track_in_playlist_already') {
                    var currentElement = document.getElementById(tracker);
                    if (currentElement) {
                        currentElement.innerText = currentElement.innerText.replace(/✔\s?/g, '');
                    } else {
                        console.error(`Element with ID ${tracker} not found.`);
                    }
                }
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }


    var isLogged = "{{ isLoggedIn }}";
    console.log(isLogged);

    document.body.style.backgroundImage = "url('{{ url_for('static', filename='background.png') }}')";
    document.body.style.backgroundSize = 'cover'; // Ensure the image covers the whole background
    document.body.style.backgroundPosition = 'center'; // Center the image
    document.body.style.backgroundRepeat = 'no-repeat'; // Prevent the image from repeating

    var selectedGenre = '';
    var selectedSongs = '';
    var findbtn = document.getElementById('findbtn');

    document.querySelectorAll('#genreOptions a').forEach(item => {
        console.log(item);
        item.addEventListener('click', event => {
            event.preventDefault();
            selectedGenre = item.textContent;
            updateFindButton();
        });
    });

    document.querySelectorAll('#songsOptions a').forEach(item => {
        console.log(item);
        item.addEventListener('click', event => {
            event.preventDefault();
            selectedSongs = item.textContent;
            updateFindButton();
        });
    });

    function updateFindButton() {
        if (selectedGenre === "Select:") {
            selectedGenre = '';
            findbtn.style.borderColor = '#ff4a4a';
        }
        if (selectedSongs === "Select:") {
            selectedSongs = '';
            findbtn.style.borderColor = '#ff4a4a';
        }
        if (selectedGenre !== '' && selectedSongs !== '') {
            findbtn.style.borderColor = '#3af8ff';
        }
        findbtn.innerHTML = `► Find <u style="text-decoration: underline;">${selectedSongs}</u> <u style="text-decoration: underline;">${selectedGenre}</u> Songs 🔎`;
    }

    findbtn.addEventListener('click', function () {
        idTrackResults = document.getElementById('idTrackResults');
        idLoadingGif = document.getElementById('idLoadingGif');
        idTrackResultColumn = document.getElementById('idTrackResultColumn');
        idHR3 = document.getElementById('hr3');

        idTrackResults.style.visibility = 'hidden';
        idTrackResults.style.display = 'none';

        if ((selectedGenre === "0" || selectedSongs === "0") || (selectedGenre === "" || selectedSongs === "")) {
            idLoadingGif.style.display = 'none';
            idLoadingGif.style.visibility = 'hidden';
            idHR3.style.visibility = 'hidden';
            idTrackResultColumn.style.visibility = 'hidden';
            idTrackResultColumn.style.display = 'none';

        } else {
            idLoadingGif.style.display = 'inline';
            idLoadingGif.style.visibility = 'visible';
            idHR3.style.visibility = 'visible';

            // send post request to server
            fetch('/find_songs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    genre: selectedGenre,
                    songs: selectedSongs,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    var tracksAmmount = data.tracks_ammount;
                    console.log(tracksAmmount);

                    if (tracksAmmount == 0) {
                        idTrackResults.style.visibility = 'hidden';
                        idTrackResults.style.display = 'none';
                        idTrackResultColumn.style.visibility = 'hidden';
                        idTrackResultColumn.style.display = 'none';
                        idHR3.style.visibility = 'hidden';

                        idLoadingGif.style.display = 'none';
                        idLoadingGif.style.display = 'hidden';
                    } else {
                        idLoadingGif.style.display = 'none';
                        idTrackResultColumn.style.visibility = 'hidden';

                        idTrackResults.style.visibility = 'visible';
                        idTrackResults.scrollTop = 0;
                        idTrackResults.style.display = 'inline';
                        idTrackResultColumn.style.visibility = 'visible';
                        idTrackResultColumn.style.display = 'flex';
                        idHR3.style.visibility = 'visible';

                        updateTracks(data.tracks);
                        console.log(data.tracks);
                        attachTrackEventListeners();
                    }

                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    });

    function updateTracks(tracks) {
        var tracksContainer = document.getElementById('idTrackResults');
        tracksContainer.innerHTML = '';
        tracks.forEach((track, index) => {
            var trackElement = document.createElement('div');
            var tracker = "playlist" + index;
            trackElement.className = 'track';
            trackElement.dataset.index = index;
            trackElement.innerHTML = `
                    <div class="progress-container">
                        <div class="progress-circle" id="progress-${index}">
                            <div class="track-number">${index + 1}</div>
                            <button class="play-pause" data-index="${index}">▶</button>
                        </div>
                    </div>
                    <img id="albumCover" src="${track.album_cover}" alt="Album Cover">
                    <audio id="audio-${index}" src="${track.preview_url}"></audio>
                    <div class="TrackInfo1">
                        <div class="title">${track.title}</div>
                        <div class="artist">by ${track.artist}</div>
                    </div>
                    <div class="TrackInfo2">
                        <div class="predictedPopularity">${track.popularity}</div>
                    </div>
                    <div class="TrackInfo3">
                        <div class="releaseDate">${track.release_date}</div>
                    </div>
                    <div class="TrackInfo4">
                        <div class="length">${track.length}</div>
                    </div>
                    {% if isLoggedIn %}
                        <div class="TrackInfo5">
                            <div class="dropdown">
                                <button class="dropbtn" id="dropbtnPlaylist"><img class="playlistTrackIcon" src="{{ url_for('static', filename='add2.png') }}" alt="Add Icon"></button>
                                <div class="dropdown-content" id="songsOptions">
                                    <a class="selectItem">Select:</a>
                                    {% if user_playlists %}
                                        {% for item in user_playlists %}
                                            <a href="#" id="{{ item['id'] }}" onclick="addToPlaylist('{{ item['id'] }}', '${track.id}', '{{ item['id'] }}')">{{ item['name'] }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="#">No playlist found</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}

                    {% endif %}
                `;
            tracksContainer.appendChild(trackElement);
        });
    }

    function attachTrackEventListeners() {
        var tracks = document.querySelectorAll('.track');
        tracks.forEach(function (track) {
            track.addEventListener('mouseover', function () {
                var index = this.dataset.index;
                if (currentlyPlaying != index) {
                    this.querySelector('.track-number').style.display = 'none';
                    this.querySelector('.play-pause').style.display = 'flex';
                }
            });

            track.addEventListener('mouseout', function () {
                var index = this.dataset.index;
                if (currentlyPlaying != index) {
                    this.querySelector('.track-number').style.display = 'flex';
                    this.querySelector('.play-pause').style.display = 'none';
                }
            });

            track.addEventListener('click', function () {
                var index = this.dataset.index;
                playAudio(index);
            });
        });
    }

    let currentlyPlaying = null;

    function playAudio(index) {
        console.log('playAudio called with index:', index);
        var audio = document.getElementById('audio-' + index);
        var track = document.querySelectorAll('.track')[index];
        if (!audio || !track) {
            console.error('Audio or track element not found for index:', index);
            return;
        }
        var button = track.querySelector('.play-pause');
        var progressCircle = document.getElementById('progress-' + index);
        var trackNumber = track.querySelector('.track-number');

        if (currentlyPlaying !== null && currentlyPlaying !== index) {
            stopAudio(currentlyPlaying);
        }

        if (audio.paused) {
            audio.play();
            button.textContent = '❚❚';
            updateProgress(audio, progressCircle, button);
            currentlyPlaying = index;
            trackNumber.style.display = 'none';
            button.style.display = 'flex';
        } else {
            audio.pause();
            button.textContent = '▶';
            currentlyPlaying = index;
        }
    }

    function stopAudio(index) {
        console.log('stopAudio called with index:', index);
        var audio = document.getElementById('audio-' + index);
        var track = document.querySelectorAll('.track')[index];
        if (!audio || !track) {
            console.error('Audio or track element not found for index:', index);
            return;
        }
        var button = track.querySelector('.play-pause');
        var progressCircle = document.getElementById('progress-' + index);
        var trackNumber = track.querySelector('.track-number');

        audio.pause();
        audio.currentTime = 0;
        button.textContent = '▶';
        progressCircle.style.background = 'transparent';
        trackNumber.style.display = 'flex';
        button.style.display = 'none';
        currentlyPlaying = null;
    }

    function updateProgress(audio, progressCircle, button) {
        var duration = audio.duration;
        var currentTime = audio.currentTime;
        var progress = (currentTime / duration) * 100;

        if (progress > 0) {
            progressCircle.style.background = `conic-gradient(#3af8ff ${progress}%, transparent ${progress}%)`;
        } else {
            progressCircle.style.background = 'transparent';
        }

        if (!audio.paused) {
            requestAnimationFrame(function () {
                updateProgress(audio, progressCircle, button);
            });
        } else {
            button.textContent = '▶';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        attachTrackEventListeners();
    });


</script>
</body>
</html>